video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}
* {
  margin: 0;
  padding: 0;
}
.container {
  justify-content: center;
}
.header-container {
  background: url('../assets/images/bg.jpg') right no-repeat;
  /* background-color: #997; */
  height: 90vh;
  width: 100%;
  margin-top: 80px;
  box-shadow: inset 0px 0px 0px 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.header-left {
  background-color: rgb(21, 17, 12);
  /* background-color: #997; */
  width: 50%;
  /* left: 0; */
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 4rem 5rem;
  box-shadow: inset 0px 0px 0px 1000px rgba(0, 0, 0, 0.5);
  opacity: 0.7;
  text-align: center;
  display: inline;
  /* max-width: fit-content; */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.header-left > h1 {
  color: #fff;
  text-align: center;
  font-size: 2.6rem;
  /* animation: slideIn 1s 1s linear; */
}
.header-left > h4 {
  margin-top: 2rem;
  color: #fff;
  margin-left: -3.6px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  /* animation: slideIn 2s 1s linear; */
}
.header-left:hover h1 {
  /* font-size: 2.7rem; */
  cursor: pointer;
}
@keyframes slideIn {
  0% {
    opacity: 0;
    margin-left: -50px;
    display: block;
  }
  20% {
    opacity: 0.2;
    margin-left: -40px;
  }
  50% {
    opacity: 0.6;
    margin-left: -30px;
  }
  75% {
    opacity: 0.8;
    margin-left: -10px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    margin-top: 100px;
  }
  20% {
    opacity: 0.2;
    margin-top: 70px;
  }
  50% {
    opacity: 0.6;
    margin-top: 40px;
    display: none;
  }
  75% {
    opacity: 0.8;
    margin-top: 10px;
    display: none;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
    display: none;
  }
}
.header-right {
  width: 45%;
  background-color: rgb(21, 17, 12);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4rem 2rem;
  box-shadow: inset 0px 0px 0px 1000px rgba(79, 159, 76, 0.5);
  opacity: 1;
}
.header-btns {
  margin-top: 2rem;
  /* display: flex; */
  /* flex-direction: row; */
  justify-content: center;
}
.header-btns .btn {
  margin: 5px;
  border-radius: 0;
  animation: slideUp 2s 1s ease-in;
}

.fa-play-circle {
  margin-left: 4px;
}
@media screen and (max-width: 600px) {
  .header-btns {
    margin-top: 0.5rem;
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: center; */
  }
  .header-left {
    /* height: auto; */
    font-size: 0.8rem;
    width: 60%;
    padding: 1rem;
    margin-left: 0;
    position: absolute;
    top: 26%;
    left: 50%;
    z-index: 1;
  }
}

@media screen and (min-width: 720px) {
  .header-left {
    /* height: auto; */
    font-size: 1rem;
    width: 60%;
    padding: 1rem;
    margin-left: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 1;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    /* height: 70vh; */
  }
}

.carousel-container {
  /* height: 90vh;  */
}

@media screen and (max-width: 1254px) {
  .header-container > p {
    font-size: 1rem;
  }
  .btn-mobile {
    display: block;
    text-decoration: none;
    font-size: 1rem;
  }
  .btn {
    width: 100%;
    font-size: 1rem;
  }
  .header-left {
    height: auto;
    font-size: 0.8rem;
    width: 60%;
    /* padding: 3rem 4rem; */
    margin-left: 0;
  }
  .header-left > h1 {
    color: #fff;
    font-size: 2.5rem;
  }
  .header-left:hover h1 {
    /* font-size: 2rem; */
    cursor: pointer;
  }
  .header-right {
    width: 45%;
    height: 40vh;
    background-color: rgb(21, 17, 12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4rem 2rem 0rem 2rem;
    box-shadow: inset 0px 0px 0px 1000px rgba(79, 159, 76, 0.5);
    opacity: 1;
  }
}
@media screen and (max-width: 960px) {
  .container {
    width: 100%;
  }
  .header-container {
    flex-direction: column;
    width: 100%;
  }
  .header-container > h1 {
    color: #fff;
    font-size: 1rem;
  }
  .header-container > p {
    font-size: 1rem;
  }
  .btn-mobile {
    display: block;
    text-decoration: none;
    font-size: 1rem;
  }
  .btn {
    width: 100%;
    font-size: 1rem;
  }

  .header-left > h1 {
    font-size: 1.4rem;
  }
  .header-left:hover h1 {
    /* font-size: 2rem;  */
    cursor: pointer;
  }
  .header-right {
    display: none;
  }
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  z-index: 1;
}

.carousel-button:hover {
  opacity: 0.7;
}

.prev-button {
  left: 2%;
}

.next-button {
  right: 2%;
}

.carousel-root {
  height: 100vh;
}
